root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[*.{sh,yml,yaml,sql,mjs,cjs}]
end_of_line = lf

[docker-compose.yml]
end_of_line = lf

[Dockerfile*]
end_of_line = lf

[*.{kt,kts}]
indent_size = 4

[*.md]
trim_trailing_whitespace = false

[Makefile]
indent_style = tab

[*.{bat,cmd,ps1}]
end_of_line = crlf
